<script>
    function launchLti() {
        let url = "{{ launch | raw }}";
        let params = [...document.querySelector('form').elements].map(el => el.name + '=' + el.value);
        document.getElementById('frame').src=url.concat("&",params.join("&"));
    }
</script>
<div style="padding:10px">
    Please refer to the Controller if you're unclear on what values should be entered here.
</div>
<form id="lti-fields">
    {% for field in fields %}
        {{ field }}:<input type="text" name="{{ field }}">
    {% endfor %}
</form>

<button onclick="launchLti()">Test LTI</button>

<iframe id="frame" style="height:1000px;width:100%;"></iframe>

